* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.form-banner img {
  height: 100%;
  width: 100%;
}

.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-container .form-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.form-container .form-footer a {
  color: #4CAF50;
  text-decoration: none;
}

.form-container .form-footer a:hover {
  text-decoration: underline;
}




/*loader*/
.loader-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}


.loader{
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-bottom-color:red ;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation is linear infinite;
}


@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* 
navbar
*/
.navbar{
  background-color: black !important;
  color: white !important;

}

.nav-item,
.navbar-brand{
  background-color: black !important;
  color:white !important;

}
.nav-link,
.navbar-brand {
  background-color: black !important;
  color: white !important;
}