.forgot-password-form-container {
    max-width: 400px;
    margin: 50px auto; /* Center the form vertically */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(190, 214, 190, 0); /* Background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  .form-group {
    margin-bottom: 20px; /* Increased margin */
  }
  
  label {
    display: block;
    margin-bottom: 10px; /* Reduced margin */
    font-weight: bold; /* Bold label */
  }
  
  input[type="email"],
  select {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none; /* Remove outline on focus */
  }
  
  input[type="email"]:focus,
  select:focus {
    border-color: #007bff; /* Highlight border color on focus */
  }
  
  button {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  button:hover {
    background-color: #de1332;
  }
  